/* @import url('header.css');
@import url('footer.css'); */
@import url('common.css');

fieldset {
    border: 1px solid gray;
}

ol li{
    text-decoration: none;
    background-color: none !important;
}

button[type=submit] {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px gray solid;
}